@reference "tailwindcss";

.link {
  @apply px-4 py-3 flex items-center space-x-4 rounded-md text-gray-600 hover:bg-linear-to-r hover:bg-sky-600 hover:text-white;
}

.activeLink {
  @apply text-white
         bg-linear-to-r from-sky-600 to-cyan-500
         shadow-md
         ring-1 ring-sky-400/40;
}
